@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden;
  scrollbar-color: #ffa7a7 #f1f1f1;
  scrollbar-width: thin;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa7a7;
  border-radius: 5px;
}
